*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

img{
    height: auto;
}

button{
    width: 100%;
    cursor: pointer;
}

body{
    background-color: var(--background);
}

a, router-link{
    text-decoration: none;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    appearance: none;
}

a:visited, router-link:visited  {
    color: var(--text);
}

a:active, router-link:active  {
    color: var(--text);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

input:focus, textarea:focus, select:focus{
    outline: var(--primary) 1px solid;
    border: none;
    box-shadow: 0 0 4px 3px var(--primary);
}
/* DATE PICKER */

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 5px;
  }
  
  /* Personalizzazione del calendario (Firefox) */
  input[type="datetime-local"]::-moz-calendar-picker-indicator {
    cursor: pointer;
    padding: 5px;
    color: var(--text);
  }

    /* Personalizzazione del calendario (Safari) */
    input[type="datetime-local"]::-webkit-datetime-edit {
    cursor: pointer;
    padding: 5px;
    color: var(--text);
  }

  input[type="datetime-local"] {
    color-scheme: light dark;
    color: var(--text);
    background-color: white;
  }
