*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

img{
    height: auto;
}

button{
    width: 100%;
    cursor: pointer;
}

body{
    background-color: var(--background);
}

a, router-link{
    text-decoration: none;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    appearance: none;
}

a:visited, router-link:visited  {
    color: var(--text);
}

a:active, router-link:active  {
    color: var(--text);
}
