*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

img{
    height: auto;
}

button{
    width: 100%;
    cursor: pointer;
}

body{
    background-color: var(--background);
}

a{
    text-decoration: none;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
}

a:visited {
    color: var(--text);
}

a:active {
    color: var(--text);
}